@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6F7F9;
  --foreground: #1A202C;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #F6F7F9;
    --foreground: #1A202C;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Plus Jakarta Sans', sans-serif;
}





@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}